/* ==================General================== */
body{
    font-family: Helvetica,Tahoma;
    font-size: 22px;
    background-image: url("../img/skyblack.jpg");
    /* overflow-x: hidden; */
    
}
textarea{
    height: 150px;
}
.white-font{
    color: #ffffff;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    font-weight: bold;
}
.submit-button{
    text-align: center;
    margin-top: 50px;
}
.form-control{
    width: 50%;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
@media only screen and (max-width: 830px) {
    .form-control{
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .form-control{
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
}
.container{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.line{
    border: 1px solid #fff;
}
.gold-font{
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    font-weight: bold;
}
.center{
    text-align: center;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 55px;
  }
  
  #myBtn:hover {
    background-color: #074fff;
  }
  .line{
      border: 1px solid white;
  }
  @media only screen and (max-width: 830px) {
    #myBtn {
        bottom: 10px;
        right: 0px;  
      }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #myBtn {
        display: none;
        position: fixed;
        bottom: 50px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        width: 55px;
      }
}
/* ==================End===================== */

/* =================Navbar========================= */
.navbar{
    margin-top: 10px;
    margin-left: -10px;
}
.logo-header img{
    max-width: 100%;
}
.navbar-light .navbar-toggler{
    background-color: white;
}
.navbar-light .navbar-brand {
    font-size: 1.0em;
    color: #FFDF00;
    font-weight: bold;
    transition: color 1s;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
}
.navbar-light .navbar-brand:hover {
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
}
.navbar-light .navbar-nav .active>.nav-link{
    font-size: 22px;
    color: #FFDF00;
    font-weight: bold;
    transition: color 1s;
}
.navbar-light .navbar-nav .active>.nav-link:hover{
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 22px;
    color: #FFDF00;
    font-weight: bold;
    transition: color 1s;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: bold;
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 22px;
    cursor: pointer;
    text-align: inherit;
}
.dropdown-item:hover {
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    background-color: blue;
}

.dropdown-menu{
    background: transparent;
}
@media only screen and (max-width: 500px) {
    .navbar{
        float: right;
    }
}
@media only screen and (max-width: 830px) {
    .navbar{
        float: right;
    }
    .logo-header img{
        margin-top: 100px;
        max-width: 350px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .navbar{
        float: right;
        
    }
    .logo-header img{
        max-width: 100%;
        margin-top: 0px;
       
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        color: #FFDF00;
        font-weight: bold;
        transition: color 1s;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: bold;
        color: #FFDF00;
        text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        font-size: 12px;
        cursor: pointer;
        text-align: inherit;
    }
}
/* ===============================End========================= */


/* ===================Header============== */
#header .title h1{
    font-size: 3em;
    font-weight: bold;
    margin-top: 150px;
    text-align: center;
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
}
#header .title p{
    max-width: 55%;
    margin-left: 20%;
    text-align: center;
    font-size: 22px;
}
@media only screen and (max-width: 830px) {
    #header .title p{
        max-width: 100%;
        margin-left: 0;
        font-size: 14px;
    }
    #header .title h1{
        font-size: 3em;
        font-weight: bold;
        margin-top: 0px;
        text-align: center;
        color: #FFDF00;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #header .title p{
        max-width: 55%;
        margin-left: 20%;
    }
}
/* ==================End==================== */
/* ==================Feature=============== */
#feature{
    background-color: black;
    padding: 30px;
    width: 100%;
}
#feature .title{
    text-align: center;
}
#feature .title h3{
    font-weight: bold;
    color: #FFDF00;
    font-size: 48px;
}
#feature img{
    max-width: 50%;
    margin-left: 5%;
}
@media only screen and (max-width: 830px) {
    #feature{
       margin-left: 0px;
    }
    #feature img{
        max-width: 60%;
        margin-left: 15%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #feature img{
        max-width: 60%;
        margin-left: 0%;
    }
    #feature{
        margin-left: 0px;
    }
}
/* ==================End================== */
/* ==================Footer================ */
#language .switch-lang a{
    color: #FFDF00;
    font-size: 22px;
    font-weight: bold;
    text-decoration-line: none;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
}
#social-link{
    background-color: #1b247e;
    margin: 55px auto;
    padding: 30px;
    width: 100%;
    margin-top: 0px;
}
#social-link .title h1{
    font-weight: bold;
    color: #FFDF00;
}
#social-link .social{
    line-height: 50px;
}
#social-link .social a{
    text-decoration-line: none;
    margin-right: 30%;
}
#social-link .social a>span{
    font-size: 22px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px
}
#social-link .footer-img{
    margin-top: 10px;
    margin-left: 10%;
}
#social-link .medium{
    margin-top: 10px;
    margin-left: 10%;
}

#social-link .twitter{
    position: absolute;
    margin-left: 30%;
    margin-top: -15%;
}
#social-link .twitter img{
    max-width: 90%;
}
#social-link .footer-img img{
    max-width: 20%;
    margin-top: 10px;
}
#social-link .linken{
    position: absolute;
    margin-left: 48%;
    margin-top: -15%;
}
#social-link .linken img{
    max-width: 90%;
}
#social-link .steem a{
    font-size: 3em;
    text-decoration-line: none;
}
#social-link .steem a>span{
    font-size: 30px;
    text-decoration-line: none;
}
#social-link .steem{
    position: absolute;
    margin-left: 30%;
    margin-top: -15%;
}
@media only screen and (max-width: 830px) {
    #social-link .social a{
        text-decoration-line: none;
        margin-right: 70%;
    }
    #social-link .social a>span{
        font-size: 18px;
        position: absolute;
        margin-left: 10px;
        margin-top: 0px
    }
    #social-link .social{
        line-height: 30px;
    }
    #social-link .footer-img img{
        max-width: 35%;
    }
    #social-link .footer-img{
        margin-top: 10px;
        margin-left: 10%;
    }
    #social-link .steem{
        position: absolute;
        margin-left: 45%;
        margin-top: -25%;
    }
    #social-link .steem a{
        font-size: 1.5em;
        text-decoration-line: none;
    }
    #social-link .steem a>span{
        font-size: 15px;
        text-decoration-line: none;
    }
    #social-link .linken{
        position: absolute;
        margin-left: 65%;
        margin-top: -27%;
    }
    #social-link .twitter {
        position: absolute;
        margin-left: 30%;
        margin-top: -27%;
    }
    #social-link .medium {
        margin-top: 10px;
        margin-left: -10%;
    }
    #social-link .medium img{
        max-width: 30%;
    }
    #social-link .twitter img {
        max-width: 70%;
    }
    #social-link .linken img {
        max-width: 90%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #social-link .social a{
        text-decoration-line: none;
        margin-right: 70%;
    }
    #social-link .social a>span{
        font-size: 18px;
        position: absolute;
        margin-left: 10px;
        margin-top: 10px
    }
    #social-link .social{
        line-height: 30px;
    }
    #social-link .footer-img img{
        max-width: 35%;
    }
    #social-link .footer-img{
        margin-top: 10px;
        margin-left: 10%;
    }
    #social-link .steem{
        position: absolute;
        margin-left: 50%;
        margin-top: -30%;
    }
    #social-link .steem a{
        font-size: 1.8em;
        text-decoration-line: none;
    }
    #social-link .steem a>span{
        font-size: 20px;
        text-decoration-line: none;
    }
    #social-link .twitter {
        position: absolute;
        margin-left: 40%;
        margin-top: -24%;
    }
    #social-link .linken {
        position: absolute;
        margin-left: 67%;
        margin-top: -25%;
    }
}

/* =================End==================== */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #ebd78b;
 }
 
footer p {
     padding: 10.5px;
     margin: 0px;
 }
 .footer{
     margin-left: 10%;
 }
 .full {
     width: 100%;    
 }
 .gap {
     height: 30px;
     width: 100%;
     clear: both;
     display: block;
 }
 
 
 .footer p {
     margin: 0;
 }
 .footer img {
     max-width: 100%;
 }
 .footer h3 {
    color: #FFDF00;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
 }
 .footer ul {
     font-size: 18px;
     list-style-type: none;
     margin-left: 0;
     padding-left: 0;
     margin-top: 15px;
     color: #FFDF00;
     font-weight: bold;
     text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
 }
 .footer ul li a {
     padding: 0 0 5px 0;
     display: block;
 }
 .footer a {
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
 }
 
 .footer button{
     margin-bottom: 25px;
 }
 @media only screen and (max-width: 830px) {
    .footer{
        margin-left: 10px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .footer{
        margin-left: 10%;
    }
}
 /*=========== Fixed footer =============*/

#fixed-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #ebd78b;
    text-align: center;
}
#fixed-footer .dropup a{
    background-color: black;
    border: none;
    color: #ebd78b;
    font-size:22px;
    font-weight:bold;
    text-decoration-line: none;
}
#fixed-footer .dropdown-menu a {
    color: #ebd78b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
#fixed-footer .dropdown-menu a:hover {background-color: blue}

#fixed-footer .dropup:hover .dropdown-menu {
    display: block;
}
#fixed-footer .dropup a:hover{
    background-color: blue;
}
#fixed-footer .dropup:hover .dropdown-toggle {
    background-color: blue;
}
@media only screen and (max-width: 830px) {
    #fixed-footer .dropup a {
        color: #ebd78b;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 8px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #fixed-footer .dropup a {
        color: #ebd78b;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 14px;
    }
}

/*============= END Fixed footer ===============*/
/* =============Chat ============= */
.mylivechat_inline{
    resize: none;
    font-size: 13px;
    font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    color: rgb(0, 0, 0);
    width: 210px;
    height: 30px;
    z-index: 16543210;
    position: fixed;
    right: 16px;
    bottom: 0;
    margin-bottom: 43px;
}
/* =============end=========== */
/* =============Cloud========= */
#cloud{
    background-color: black;
    padding: 30px;
    width: 100%;
}
#cloud .title h3{
    font-weight: bold;
    color: #FFDF00;
    font-size: 48px;
}
#cloud .price-table{
    background: #050056 url(../img/3panels_bg.png) no-repeat scroll center top;
    border: 0 none;
    margin: 0 0 1.25em;
    padding: 0;
    border-radius: 5px;
    max-width: 100%;
    list-style: none;
}
@media only screen and (max-width: 830px) {
    #cloud .price-table{
        background: #050056 url(../img/3panels_bg.png) no-repeat scroll center top;
        border: 0 none;
        margin: 0 0 1.25em;
        padding: 0;
        border-radius: 5px;
        max-width: 100%;
        list-style: none;
        
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #cloud .price-table{
        background: #050056 url(../img/3panels_bg.png) no-repeat scroll center top;
        border: 0 none;
        margin: 0 0 1.25em;
        padding: 0;
        border-radius: 5px;
        max-width: 100%;
        list-style: none;
    }
}

#cloud .price-table .title{
    border-bottom: 1px solid #36bdfc;
    color: #fff;
    font-family: 'Roboto',arial,helvetica;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
#cloud .price-table .description {
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
}
#cloud .price-table .bullet-item{
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    padding: 0.9375em;
    text-align: center;
}
#cloud .price-table .price {
    color: #eaeaea;
    font-family: 'Roboto',arial,helvetica;
    font-size: 15px;
    font-weight: 900;
    padding: 12px 0 18px;
    text-align: center;
}
#cloud .price-table span {
    border-top: 1px solid #36bdfc;
    color: #36bdfc;
    display: block;
    font-size: 53px;
    font-weight: 900;
    padding: 40px 0 10px;
    text-shadow: -1px -1px 1px #1a0361;
}
#cloud .price-table .cta-button {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px 0;
    text-align: center;
}
#cloud .price-table .cta-button p{
    padding: 14px 0 8px;
}
#cloud .price-table .cta-button span a{
    background: none repeat scroll 0 0 #4AA3FD;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    padding: 9px 27px;
}
#cloud .price-table .cta-button span {
    border: none;
}
#cloud .title p{
    text-align: center;
    color: #FFDF00;
}
/* =============End============= */
/* =============Data Center======= */
#mine-ergy{
   
    background-color: black;
    padding: 30px;
    width: 100%;
    margin: 55px auto;
}
#mine-ergy .title h3{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}
#mine-ergy #accordion .card{
    background-color: #0C2CA6;
    margin-bottom: 5px;
}
#mine-ergy .btn-link{
    color: #ebd78b;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    font-weight: bold;
    text-decoration-line: none;
}
#mine-ergy .card-body{
    background-color: #fff;
    overflow: scroll;
    height: 350px;
}
#mine-ergy .card-body ul li{
    list-style: none;
}
@media only screen and (max-width: 830px) {
    #mine-ergy .btn-link{
        color: #ebd78b;
        text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
        font-weight: bold;
        text-decoration-line: none;
        font-size: 12px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #faq .btn-link{
        color: #ebd78b;
        text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
        font-weight: bold;
        text-decoration-line: none;
        font-size: 18px;
    }
}
/* ===========End================= */
/* =========How It Work=========== */
#how-it-work{
    background-color: black;
    padding: 30px;
    width: 100%;
}
#how-it-work .title h3{
    font-weight: bold;
    font-size: 48px;
}
#how-it-work .title h4{
    font-weight: bold;
}
#how-it-work .title .image img{
    width: 150px;
}
.img-circle{
    border-radius: 50%;
}
#how-it-work .title .desc{
    padding-top: 30px;
    font-size: 17px;
}
/* =============End============== */
/* =======What is Bitcoin?====== */
#what-is-bitcoin{
    background-color: black;
    padding: 30px;
    width: 100%;
}
#what-is-bitcoin .title h3{
    font-weight: bold;
    font-size: 48px;
}
#what-is-bitcoin .desc{
    margin-top: 5%;
}
/* ============End============= */
/* =======What is Mining?====== */
#what-is-mining{
    background-color: black;
    padding: 30px;
    width: 100%;
}
#what-is-mining .title h3{
    font-weight: bold;
    font-size: 48px;
}
#what-is-mining .desc{
    margin-top: 5%;
}
/* ============End============= */

/* ============FAQ============ */
#faq{
    background-color: black;
    padding: 30px;
    width: 100%;
}
#faq .title h3{
    font-weight: bold;
    margin-top: 50px;
    font-size: 48px;
}
#faq .title h4{
    font-weight: bold;
    margin-top: 50px;
}
#faq #accordion .card{
    background-color: #0C2CA6;
    margin-bottom: 2px;
}
#faq .btn-link{
    color: #ebd78b;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    font-weight: bold;
    text-decoration-line: none;
    font-size: 22px;
}
#faq .card-body{
    background-color: #fff;
    overflow: scroll;
    height: 350px;
}
@media only screen and (max-width: 830px) {
    #faq .btn-link{
        color: #ebd78b;
        text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
        font-weight: bold;
        text-decoration-line: none;
        font-size: 7px;
        margin-left: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #faq .btn-link{
        color: #ebd78b;
        text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
        font-weight: bold;
        text-decoration-line: none;
        font-size: 15px;
        margin-left: 10px;
    }
}
/* =============End========== */
/* ============Videos======= */
#video-section{
    background: black;
    padding: 30px;
    width: 100%;
}
#video-section .title h1{
    border-left: #FFDF00 1px solid;
    padding-left: 10px;
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    font-weight: bold;
    text-align: left;
}
#video-section .description{
    margin-top: 10%;
}
#video-section .description h3{
    font-weight: bold;
}
#video-section .description p{
    font-size: 22px;
    margin-top: 10%;
}

#video-section video{
    width: 400px;
    height: 315px;
    margin-left: 100px;
}
@media only screen and (max-width: 830px) {
    #video-section video{
        width: auto;
        height: 200px;
        margin-left: -28px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #video-section video{
        width: 230px;
        height: 315px;
        margin-left: 10px;
    }
}
/* ============End========== */
/* ===========Order======== */
#order{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#order .logo-img img{
    max-width: 30%;
}
#order .checkbox-form label{
    margin-left: 10px;
}
#order .radio-form label{
    margin-left: 10px;
}
@media only screen and (max-width: 830px) {
    #order .logo-img img{
        max-width: 100%;
    }
    #order .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #order .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #order .logo-img img{
        max-width: 100%;
    }
    #order .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #order .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
#order .title{
    margin-top: 100px;
}
#order .text{
    margin-top: 100px;
}
#order .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#order .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#order .radio-form{
    margin-top: 50px;
}
input[type='radio'] { 
    transform: scale(2); 
    color: #ffffff;
    background-color: #26a69a;
}
input[type='checkbox'] { 
    transform: scale(2); 
}
#order .radio-form h3{
    font-weight: bold;
}

#order .general-input{
    margin-top: 50px;
}
#order .checkbox-form h3{
    font-weight: bold;
}

#order .checkbox-form{
    margin-top: 50px;
}

/* ===========End========= */
/* =======Suggestion===== */

#suggestion{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#suggestion .logo-img img{
    max-width: 30%;
}
#suggestion .radio-form label{
    margin-left: 10px;
    font-size: 20px;
}
#suggestion .checkbox-form label{
    margin-left: 10px;
    font-size: 20px;
}
.space{
    margin-left: 25px !important;   
}
@media only screen and (max-width: 830px) {
    #suggestion .logo-img img{
        max-width: 100%;
    }
    .space{
        margin-left: 5px !important;   
    }
    #suggestion .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #suggestion .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #suggestion .logo-img img{
        max-width: 100%;
    }
    .space{
        margin-left: 25px !important;   
    }
    #suggestion .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #suggestion .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: 0px;
    }
}
#suggestion .title{
    margin-top: 100px;
}
#suggestion .text{
    margin-top: 100px;
}
#suggestion .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#suggestion .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#suggestion .radio-form{
    margin-top: 50px;
}
#suggestion .radio-form h3{
    font-weight: bold;
}

#suggestion .general-input{
    margin-top: 50px;
}
#suggestion .checkbox-form h3{
    font-weight: bold;
}

#suggestion .checkbox-form{
    margin-top: 50px;
}


/* ==========End======== */
/* =======Valuation===== */

#valuation{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#valuation .logo-img img{
    max-width: 30%;
}
#valuation .checkbox-form label{
    margin-left: 10px;
    font-size: 20px;
}
#valuation .radio-form label{
    margin-left: 10px;
    font-size: 20px;
}
@media only screen and (max-width: 830px) {
    #valuation .logo-img img{
        max-width: 100%;
    }
    #valuation .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #valuation .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #valuation .logo-img img{
        max-width: 100%;
    }
    #valuation .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #valuation .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
#valuation .title{
    margin-top: 100px;
}
#valuation .text{
    margin-top: 100px;
}
#valuation .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#valuation .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#valuation .radio-form{
    margin-top: 50px;
}
#valuation .radio-form h3{
    font-weight: bold;
}

#valuation .general-input{
    margin-top: 50px;
}
#valuation .checkbox-form h3{
    font-weight: bold;
}

#valuation .checkbox-form{
    margin-top: 50px;
}

/* ==========End======== */
/* =======Science===== */
#science-survey{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#science-survey .logo-img img{
    max-width: 30%;
}
#science-survey .radio-form label{
    margin-left: 10px;
    font-size: 20px;
}
#science-survey .checkbox-form label{
    margin-left: 10px;
    font-size: 20px;
}
@media only screen and (max-width: 830px) {
    #science-survey .logo-img img{
        max-width: 100%;
    }
    #science-survey .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #science-survey .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #science-survey .logo-img img{
        max-width: 100%;
    }
    #science-survey .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #science-survey .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
#science-survey .title{
    margin-top: 100px;
}
#science-survey .text{
    margin-top: 100px;
}
#science-survey .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#science-survey .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#science-survey .radio-form{
    margin-top: 50px;
}
#science-survey .radio-form h3{
    font-weight: bold;
}

#science-survey .general-input{
    margin-top: 50px;
}
#science-survey .checkbox-form h3{
    font-weight: bold;
}

#science-survey .checkbox-form{
    margin-top: 50px;
}
#science-survey .email-form{
    margin-top: 50px;
}

/* =======ENd============ */

/* =======Science===== */
#investor-survey{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#investor-survey .logo-img img{
    max-width: 30%;
}
#investor-survey .checkbox-form label{
    margin-left: 10px;
    font-size: 20px;
}
#investor-survey .radio-form label{
    margin-left: 10px;
    font-size: 20px;
}
@media only screen and (max-width: 830px) {
    #investor-survey .logo-img img{
        max-width: 100%;
    }
    #investor-survey .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #investor-survey .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #investor-survey .logo-img img{
        max-width: 100%;
    }
    #investor-survey .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #investor-survey .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
#investor-survey .title{
    margin-top: 100px;
}
#investor-survey .text{
    margin-top: 100px;
}
#investor-survey .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#investor-survey .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#investor-survey .radio-form{
    margin-top: 50px;
}
#investor-survey .radio-form h3{
    font-weight: bold;
}

#investor-survey .general-input{
    margin-top: 50px;
}
#investor-survey .checkbox-form h3{
    font-weight: bold;
}

#investor-survey .checkbox-form{
    margin-top: 50px;
}
#investor-survey .email-form{
    margin-top: 50px;
}
/* ===========End============== */
/* =======Economic===== */
#economic{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#economic .radio-form label{
    margin-left: 10px;
    font-size: 20px;
}
#economic .checkbox-form label{
    margin-left: 10px;
    font-size: 20px;
}
#economic .logo-img img{
    max-width: 30%;
}
@media only screen and (max-width: 830px) {
    #economic .logo-img img{
        max-width: 100%;
    }
    #economic .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
        line-height: 50px;
    }
    #economic .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #economic .logo-img img{
        max-width: 100%;
    }
    #economic .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #economic .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
#economic .title{
    margin-top: 100px;
}
#economic .text{
    margin-top: 100px;
}
#economic .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#economic .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#economic .radio-form{
    margin-top: 50px;
}
#economic .radio-form h3{
    font-weight: bold;
}

#economic .general-input{
    margin-top: 50px;
}
#economic .checkbox-form h3{
    font-weight: bold;
}
#economic .checkbox-form{
    margin-top: 50px;
}
#economic .email-form{
    margin-top: 50px;
}
/* =========End============= */
/* =======Leadership===== */
#leadership{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#leadership .radio-form label{
    margin-left: 10px;
    font-size: 20px;
}
#leadership .checkbox-form label{
    margin-left: 10px;
    font-size: 20px;
}
#leadership .logo-img img{
    max-width: 30%;
}
@media only screen and (max-width: 830px) {
    #leadership .logo-img img{
        max-width: 100%;
    }
    #leadership .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
        line-height: 50px;
    }
    #leadership .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #leadership .logo-img img{
        max-width: 100%;
    }
    #leadership .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #leadership .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
#leadership .title{
    margin-top: 100px;
}
#leadership .text{
    margin-top: 100px;
}
#leadership .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#leadership .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#leadership .radio-form{
    margin-top: 50px;
}
#leadership .radio-form h3{
    font-weight: bold;
}

#leadership .general-input{
    margin-top: 50px;
}
#leadership .checkbox-form h3{
    font-weight: bold;
}
#leadership .checkbox-form{
    margin-top: 50px;
}
#leadership .email-form{
    margin-top: 50px;
}
/* =========End============= */
/* =======Climate===== */
#climate{
    margin: 55px auto;
    background-color: #0C2CA6;
    padding: 30px;
}
#climate .radio-form label{
    margin-left: 10px;
    font-size: 20px;
}
#climate .checkbox-form label{
    margin-left: 10px;
    font-size: 20px;
}
#climate .logo-img img{
    max-width: 30%;
}
@media only screen and (max-width: 830px) {
    #climate .logo-img img{
        max-width: 100%;
    }
    #climate .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
        line-height: 50px;
    }
    #climate .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #climate .logo-img img{
        max-width: 100%;
    }
    #climate .radio-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
    #climate .checkbox-form label{
        margin-left: 30px;
        font-size: 20px;
        margin-top: -30px;
    }
}
#climate .title{
    margin-top: 100px;
}
#climate .text{
    margin-top: 100px;
}
#climate .title h1{
    text-transform:uppercase;
    font-weight: bold;
}
#climate .text p{
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#climate .radio-form{
    margin-top: 50px;
}
#climate .radio-form h3{
    font-weight: bold;
}

#climate .general-input{
    margin-top: 50px;
}
#climate .checkbox-form h3{
    font-weight: bold;
}
#climate .checkbox-form{
    margin-top: 50px;
}
#climate .email-form{
    margin-top: 50px;
}
/* =========End============= */
/* ==========Form Model===== */
.modal-body .form-group{
    margin-left: 5%;
}
/* .modal-body .form-group input:invalid{
    border: 2px solid red;
} */
.modal-body .form-group span{
    color: red;
}
.modal-body .form-control{
    width: 95%;
}
.intl-tel-input {
    display: table-cell;
}
.intl-tel-input .selected-flag {
    z-index: 4;
}
.intl-tel-input .country-list {
    z-index: 5;
}
.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    margin-left: -35px;
    margin-top: -15px;
}
/* ==========End============ */
/* ==========Contact======= */

#contact{
    background-color: black;
    padding: 30px;
    width: 100%;
}
#contact .title h1{
    font-weight: bold;
}
#contact .contact-social a{
    text-decoration-line: none;
}
#contact .contact-social a:hover{
    color: blue;
}

/* ================Climate-section ===============*/
#climate-section{
    background-color: black;
    padding: 30px;
    width: 100%;
}

#climate-section .title h1{
    font-size: 48px;
    font-weight: bold;
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    text-transform: uppercase;
}
#climate-section .pictures img{
    width: 100%;
}
#climate-section .link{
    margin-top: 25px;
    text-align: center;
}
/* ================Climate-section ===============*/
#investment{
    background-color: black;
    padding: 30px;
    width: 100%;
}

#investment .title h1{
    font-size: 48px;
    font-weight: bold;
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    text-transform: uppercase;
}
#investment .pictures img{
    width: 100%;
}
#investment .link{
    margin-top: 25px;
    text-align: center;
    margin-left: 50%;
}
#investment .title h3{
    border-left: #FFDF00 1px solid;
    padding-left: 10px;
    color: #FFDF00;
    text-shadow: 0 -3px 4px #0C2CA6, 0px -2px 8px #0C2CA6;
    font-weight: bold;
    text-align: left;
    font-size: 48px;
}

#investment .text p{
    font-size: 22px;
    color: #FFDF00;
    margin-top: 50px;
}
